{% extends '_layout.html' %}

{% block title %}Movie Rating App | Create Movie Rating{% endblock %}

{% block body %}
<h1 class="mb-5">Create Movie Rating</h1>
<p class="mb-3">Create a movie rating below</p>
<!-- TODO: Feature 2 -->

<form>
    <label for="mname"> Name of Movie: </label><br>
    <input type="text" id="mname" name="mname"><br>
    <label for="mdirector"> Name of Director: </label><br>
    <input type="text" id="mdirector" name="mdirector"><br>
    <label for="mrating"> Rating for Movie: </label><br>
    <input type="number" id="mrating" name="mrating"><br>
    <input type="submit" value="Submit Movie">
</form>

{% endblock %}
